### Logistic Regression (Discrete)

Task- write a python code to check the formula of logistic regression and see if we get any value apart from 0 or 1

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
wt_ht_data = pd.read_csv("weight-height.csv")

In [3]:
wt_ht_data

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[10000 rows x 3 columns]

In [4]:
wt_ht_data.isnull()

      Gender  Height  Weight
0      False   False   False
1      False   False   False
2      False   False   False
3      False   False   False
4      False   False   False
...      ...     ...     ...
9995   False   False   False
9996   False   False   False
9997   False   False   False
9998   False   False   False
9999   False   False   False

[10000 rows x 3 columns]

In [5]:
wt_ht_data.isnull().sum()

Gender    0
Height    0
Weight    0
dtype: int64

In [6]:
wt_ht_data.shape

(10000, 3)

In [7]:
wt_ht_data.dtypes

Gender     object
Height    float64
Weight    float64
dtype: object

In [8]:
gender_predict_copy = wt_ht_data

In [9]:
gender_predict_copy

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[10000 rows x 3 columns]

In [10]:
#inches to cm calculation, 1 inch =  2.54
gender_predict_copy['Height_cm'] = gender_predict_copy['Height']*2.54

In [11]:
#pounds to kg calculation, 1 pound = 2.205kg
gender_predict_copy['Weight_kg'] = gender_predict_copy['Weight']/2.205

In [12]:
gender_predict_copy

      Gender     Height      Weight   Height_cm   Weight_kg
0       Male  73.847017  241.893563  187.571423  109.702296
1       Male  68.781904  162.310473  174.706036   73.610192
2       Male  74.110105  212.740856  188.239668   96.481114
3       Male  71.730978  220.042470  182.196685   99.792504
4       Male  69.881796  206.349801  177.499761   93.582676
...      ...        ...         ...         ...         ...
9995  Female  66.172652  136.777454  168.078536   62.030591
9996  Female  67.067155  170.867906  170.350573   77.491114
9997  Female  63.867992  128.475319  162.224700   58.265451
9998  Female  69.034243  163.852461  175.346978   74.309506
9999  Female  61.944246  113.649103  157.338385   51.541543

[10000 rows x 5 columns]

In [13]:
gender_predict_copy.drop(labels=["Height","Weight"],axis=1,inplace=True)

In [14]:
gender_predict_copy

      Gender   Height_cm   Weight_kg
0       Male  187.571423  109.702296
1       Male  174.706036   73.610192
2       Male  188.239668   96.481114
3       Male  182.196685   99.792504
4       Male  177.499761   93.582676
...      ...         ...         ...
9995  Female  168.078536   62.030591
9996  Female  170.350573   77.491114
9997  Female  162.224700   58.265451
9998  Female  175.346978   74.309506
9999  Female  157.338385   51.541543

[10000 rows x 3 columns]

In [15]:
gender_predict_copy["Gender"]=gender_predict_copy["Gender"].replace(to_replace=["Male","Female"],value=[0,1])

In [16]:
gender_predict_copy

      Gender   Height_cm   Weight_kg
0          0  187.571423  109.702296
1          0  174.706036   73.610192
2          0  188.239668   96.481114
3          0  182.196685   99.792504
4          0  177.499761   93.582676
...      ...         ...         ...
9995       1  168.078536   62.030591
9996       1  170.350573   77.491114
9997       1  162.224700   58.265451
9998       1  175.346978   74.309506
9999       1  157.338385   51.541543

[10000 rows x 3 columns]

In [17]:
x=gender_predict_copy.drop(labels='Gender',axis=1)
y=gender_predict_copy["Gender"]

In [18]:
from sklearn.linear_model import LogisticRegression

In [19]:
logistic_model=LogisticRegression()

In [20]:
logistic_model.fit(x,y)

LogisticRegression()

In [21]:
y_predict=logistic_model.predict(x)

In [22]:
y_predict

array([0, 1, 0, ..., 1, 1, 1], dtype=int64)

In [23]:
from sklearn.metrics import accuracy_score

In [24]:
accuracy_score(y,y_predict)

0.9195

### Model Deployment

In [26]:
logistic_model

LogisticRegression()

In [27]:
from pickle import dump

In [28]:
dump(logistic_model,open('M or F Ht_predict.pkl','wb'))

In [29]:
from pickle import load

In [30]:
load_file = load(open('M or F Ht_predict.pkl','rb'))

### Logistic_formula

In [47]:
import numpy as np

def logistic_formula(x):
    return 1 / (1 + np.exp(-x))
logistic_formula(-10)

4.5397868702434395e-05