In [1]:
import pandas as pd

In [2]:
claimants_data = pd.read_csv('claimants.csv')
claimants_data

      CASENUM  ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0           5         0     0.0       1.0       0.0    50.0  34.940
1           3         1     1.0       0.0       0.0    18.0   0.891
2          66         1     0.0       1.0       0.0     5.0   0.330
3          70         0     0.0       1.0       1.0    31.0   0.037
4          96         1     0.0       1.0       0.0    30.0   0.038
...       ...       ...     ...       ...       ...     ...     ...
1335    34100         1     0.0       1.0       0.0     NaN   0.576
1336    34110         0     1.0       1.0       0.0    46.0   3.705
1337    34113         1     1.0       1.0       0.0    39.0   0.099
1338    34145         0     1.0       0.0       0.0     8.0   3.177
1339    34153         1     1.0       1.0       0.0    30.0   0.688

[1340 rows x 7 columns]

In [3]:
claimants_data.dtypes

CASENUM       int64
ATTORNEY      int64
CLMSEX      float64
CLMINSUR    float64
SEATBELT    float64
CLMAGE      float64
LOSS        float64
dtype: object

In [4]:
claimants_data.isna().sum()

CASENUM       0
ATTORNEY      0
CLMSEX       12
CLMINSUR     41
SEATBELT     48
CLMAGE      189
LOSS          0
dtype: int64

In [5]:
del claimants_data["CASENUM"]

In [6]:
claimants_data

      ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0            0     0.0       1.0       0.0    50.0  34.940
1            1     1.0       0.0       0.0    18.0   0.891
2            1     0.0       1.0       0.0     5.0   0.330
3            0     0.0       1.0       1.0    31.0   0.037
4            1     0.0       1.0       0.0    30.0   0.038
...        ...     ...       ...       ...     ...     ...
1335         1     0.0       1.0       0.0     NaN   0.576
1336         0     1.0       1.0       0.0    46.0   3.705
1337         1     1.0       1.0       0.0    39.0   0.099
1338         0     1.0       0.0       0.0     8.0   3.177
1339         1     1.0       1.0       0.0    30.0   0.688

[1340 rows x 6 columns]

In [7]:
claimants_data_cleaned=claimants_data.dropna()

In [8]:
claimants_data_cleaned.isna().sum()

ATTORNEY    0
CLMSEX      0
CLMINSUR    0
SEATBELT    0
CLMAGE      0
LOSS        0
dtype: int64

In [9]:
claimants_data_cleaned.shape

(1096, 6)

In [10]:
claimants_data_cleaned

      ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0            0     0.0       1.0       0.0    50.0  34.940
1            1     1.0       0.0       0.0    18.0   0.891
2            1     0.0       1.0       0.0     5.0   0.330
3            0     0.0       1.0       1.0    31.0   0.037
4            1     0.0       1.0       0.0    30.0   0.038
...        ...     ...       ...       ...     ...     ...
1334         1     1.0       1.0       0.0    16.0   0.060
1336         0     1.0       1.0       0.0    46.0   3.705
1337         1     1.0       1.0       0.0    39.0   0.099
1338         0     1.0       0.0       0.0     8.0   3.177
1339         1     1.0       1.0       0.0    30.0   0.688

[1096 rows x 6 columns]

In [11]:
claimants_data_cleaned["ATTORNEY"]=claimants_data_cleaned["ATTORNEY"].replace(to_replace=[0,1],value=[1,0])

C:\Users\venka\AppData\Local\Temp\ipykernel_22512\4266766847.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  claimants_data_cleaned["ATTORNEY"]=claimants_data_cleaned["ATTORNEY"].replace(to_replace=[0,1],value=[1,0])

In [12]:
claimants_data_cleaned

      ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0            1     0.0       1.0       0.0    50.0  34.940
1            0     1.0       0.0       0.0    18.0   0.891
2            0     0.0       1.0       0.0     5.0   0.330
3            1     0.0       1.0       1.0    31.0   0.037
4            0     0.0       1.0       0.0    30.0   0.038
...        ...     ...       ...       ...     ...     ...
1334         0     1.0       1.0       0.0    16.0   0.060
1336         1     1.0       1.0       0.0    46.0   3.705
1337         0     1.0       1.0       0.0    39.0   0.099
1338         1     1.0       0.0       0.0     8.0   3.177
1339         0     1.0       1.0       0.0    30.0   0.688

[1096 rows x 6 columns]

#### It is a 2 Step Approach:
-  Separate X and y.
-  Apply any of the Model Validation Techniques
-  Train-Test Split
-  KFold CV
-  LOOCV - Leave One Out Cross Validation

In [13]:
x=claimants_data_cleaned.drop("ATTORNEY",axis=1)

In [14]:
y=claimants_data_cleaned["ATTORNEY"]

In [15]:
x

      CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0        0.0       1.0       0.0    50.0  34.940
1        1.0       0.0       0.0    18.0   0.891
2        0.0       1.0       0.0     5.0   0.330
3        0.0       1.0       1.0    31.0   0.037
4        0.0       1.0       0.0    30.0   0.038
...      ...       ...       ...     ...     ...
1334     1.0       1.0       0.0    16.0   0.060
1336     1.0       1.0       0.0    46.0   3.705
1337     1.0       1.0       0.0    39.0   0.099
1338     1.0       0.0       0.0     8.0   3.177
1339     1.0       1.0       0.0    30.0   0.688

[1096 rows x 5 columns]

In [16]:
y

0       1
1       0
2       0
3       1
4       0
       ..
1334    0
1336    1
1337    0
1338    1
1339    0
Name: ATTORNEY, Length: 1096, dtype: int64

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
x_train,x_test, y_train, y_test =train_test_split(x,y,test_size=0.20,random_state=22)

In [21]:
x_train

      CLMSEX  CLMINSUR  SEATBELT  CLMAGE   LOSS
777      1.0       1.0       0.0     6.0  0.046
350      0.0       1.0       0.0    45.0  5.735
94       0.0       1.0       0.0    50.0  1.467
1183     0.0       1.0       0.0     0.0  0.309
1017     0.0       1.0       0.0     9.0  1.908
...      ...       ...       ...     ...    ...
430      0.0       0.0       0.0    15.0  0.984
1171     0.0       1.0       0.0     9.0  3.578
1002     1.0       1.0       0.0    15.0  1.766
166      0.0       1.0       0.0    46.0  0.678
1082     0.0       1.0       0.0    33.0  0.600

[876 rows x 5 columns]

In [22]:
x_test

      CLMSEX  CLMINSUR  SEATBELT  CLMAGE   LOSS
1045     1.0       1.0       0.0    37.0  0.935
124      1.0       1.0       0.0    30.0  4.414
473      0.0       1.0       0.0     6.0  5.505
1069     0.0       1.0       0.0    33.0  0.080
100      0.0       1.0       0.0     6.0  0.710
...      ...       ...       ...     ...    ...
47       0.0       1.0       0.0     1.0  0.000
1310     1.0       1.0       0.0    40.0  0.905
439      0.0       1.0       0.0    57.0  3.889
30       1.0       1.0       0.0    16.0  3.994
292      0.0       1.0       0.0     6.0  1.470

[220 rows x 5 columns]

In [23]:
y_train

777     0
350     1
94      1
1183    0
1017    1
       ..
430     1
1171    0
1002    1
166     0
1082    0
Name: ATTORNEY, Length: 876, dtype: int64

In [24]:
y_test

1045    0
124     1
473     1
1069    0
100     0
       ..
47      0
1310    1
439     0
30      0
292     1
Name: ATTORNEY, Length: 220, dtype: int64

In [25]:
from sklearn.linear_model import LogisticRegression

In [26]:
logistic_model=LogisticRegression()

In [27]:
logistic_model.fit(x_train,y_train)

LogisticRegression()

In [28]:
logistic_model.intercept_

array([0.08680442])

In [29]:
logistic_model.coef_

array([[-0.3250793 , -0.66920585,  0.53390252, -0.0039149 ,  0.39933447]])

In [30]:
y_train_prediction=logistic_model.predict(x_train)

In [31]:
y_train_prediction

array([0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1,
       1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1,
       1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1,
       0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1,
       0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1,
       0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1,
       1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0,
       0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1,
       0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1,
       1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0,
       0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1,
       0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0,
       0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0,
       0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0], dtype=int64)

In [32]:
from sklearn.metrics import accuracy_score

In [33]:
accuracy_score(y_train,y_train_prediction)

0.704337899543379

In [34]:
y_test_prediction=logistic_model.predict(x_test)

In [35]:
y_test_prediction

array([0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0,
       1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1,
       0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0,
       1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1,
       1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0],
      dtype=int64)

In [36]:
accuracy_score(y_test,y_test_prediction)

0.6863636363636364

In [37]:
y_test

1045    0
124     1
473     1
1069    0
100     0
       ..
47      0
1310    1
439     0
30      0
292     1
Name: ATTORNEY, Length: 220, dtype: int64

## 7. Model Testing || 8. Model Evaluation

In [38]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix, roc_curve,roc_auc_score

### Training Data

In [39]:
y_train_pred=logistic_model.predict(x_train)

In [40]:
print(confusion_matrix(y_train,y_train_pred))
print("###########################################################")
print("Classification Report")
print(classification_report(y_train,y_train_pred))

[[325  95]
 [164 292]]
###########################################################
Classification Report
              precision    recall  f1-score   support

           0       0.66      0.77      0.72       420
           1       0.75      0.64      0.69       456

    accuracy                           0.70       876
   macro avg       0.71      0.71      0.70       876
weighted avg       0.71      0.70      0.70       876

### Testing Data

In [46]:
y_test_pred=logistic_model.predict(x_test)

In [48]:
print(confusion_matrix(y_test,y_test_pred))
print("###########################################################")
print("Classification Report")
print(classification_report(y_test,y_test_pred))
print(accuracy_score(y_test,y_test_pred))

[[71 27]
 [42 80]]
###########################################################
Classification Report
              precision    recall  f1-score   support

           0       0.63      0.72      0.67        98
           1       0.75      0.66      0.70       122

    accuracy                           0.69       220
   macro avg       0.69      0.69      0.69       220
weighted avg       0.69      0.69      0.69       220

0.6863636363636364