## DATA PREPARATION/DATA PREPROCESSING
**3 Step Approach:**

**Step 1: Data Cleaning - drop, dropna. Mean, Median, mode Imputation (or) Any Value Imputation for Nan Values.**

**Step 2: Data Type Convertion(Optional)**

**Step 3: Data Transformation**

### 1. Import Necessary library

In [1]:
import pandas as pd

### 2. Load the Dataset

In [2]:
weather_data_2010 = pd.read_csv("data_clean.csv")

In [3]:
weather_data_2010

     Unnamed: 0  Ozone  Solar.R  Wind Temp C Month  Day  Year  Temp Weather
0             1   41.0    190.0   7.4     67     5    1  2010    67       S
1             2   36.0    118.0   8.0     72     5    2  2010    72       C
2             3   12.0    149.0  12.6     74     5    3  2010    74      PS
3             4   18.0    313.0  11.5     62     5    4  2010    62       S
4             5    NaN      NaN  14.3     56     5    5  2010    56       S
..          ...    ...      ...   ...    ...   ...  ...   ...   ...     ...
153         154   41.0    190.0   7.4     67     5    1  2010    67       C
154         155   30.0    193.0   6.9     70     9   26  2010    70      PS
155         156    NaN    145.0  13.2     77     9   27  2010    77       S
156         157   14.0    191.0  14.3     75     9   28  2010    75       S
157         158   18.0    131.0   8.0     76     9   29  2010    76       C

[158 rows x 10 columns]

### 3. Data Preprocessing

In [4]:
weather_data_2010.head()

   Unnamed: 0  Ozone  Solar.R  Wind Temp C Month  Day  Year  Temp Weather
0           1   41.0    190.0   7.4     67     5    1  2010    67       S
1           2   36.0    118.0   8.0     72     5    2  2010    72       C
2           3   12.0    149.0  12.6     74     5    3  2010    74      PS
3           4   18.0    313.0  11.5     62     5    4  2010    62       S
4           5    NaN      NaN  14.3     56     5    5  2010    56       S

In [5]:
weather_data_2010.tail()

     Unnamed: 0  Ozone  Solar.R  Wind Temp C Month  Day  Year  Temp Weather
153         154   41.0    190.0   7.4     67     5    1  2010    67       C
154         155   30.0    193.0   6.9     70     9   26  2010    70      PS
155         156    NaN    145.0  13.2     77     9   27  2010    77       S
156         157   14.0    191.0  14.3     75     9   28  2010    75       S
157         158   18.0    131.0   8.0     76     9   29  2010    76       C

In [6]:
weather_data_2010['Year'].unique

<bound method Series.unique of 0      2010
1      2010
2      2010
3      2010
4      2010
       ...
153    2010
154    2010
155    2010
156    2010
157    2010
Name: Year, Length: 158, dtype: int64>

In [7]:
weather_data_2010.dtypes

Unnamed: 0      int64
Ozone         float64
Solar.R       float64
Wind          float64
Temp C         object
Month          object
Day             int64
Year            int64
Temp            int64
Weather        object
dtype: object

In [8]:
weather_data_2010.isna().sum()

Unnamed: 0     0
Ozone         38
Solar.R        7
Wind           0
Temp C         0
Month          0
Day            0
Year           0
Temp           0
Weather        3
dtype: int64

In [9]:
weather_data_2010["Ozone"].isna().sum()

38

In [10]:
weather_data_2010['Weather'].unique()

array(['S', 'C', 'PS', nan], dtype=object)

In [11]:
weather_data_2010['Month'].describe()

count     158
unique      6
top         9
freq       34
Name: Month, dtype: object

### 4. Data Preparation

In [12]:
del weather_data_2010["Unnamed: 0"]

In [14]:
del weather_data_2010["Temp C"]

In [15]:
weather_data_2010

     Ozone  Solar.R  Wind Month  Day  Year  Temp Weather
0     41.0    190.0   7.4     5    1  2010    67       S
1     36.0    118.0   8.0     5    2  2010    72       C
2     12.0    149.0  12.6     5    3  2010    74      PS
3     18.0    313.0  11.5     5    4  2010    62       S
4      NaN      NaN  14.3     5    5  2010    56       S
..     ...      ...   ...   ...  ...   ...   ...     ...
153   41.0    190.0   7.4     5    1  2010    67       C
154   30.0    193.0   6.9     9   26  2010    70      PS
155    NaN    145.0  13.2     9   27  2010    77       S
156   14.0    191.0  14.3     9   28  2010    75       S
157   18.0    131.0   8.0     9   29  2010    76       C

[158 rows x 8 columns]

### The client agrees to replace it with a mean value instead of dropping them

In [17]:
weather_data_2010["Ozone"].mean()

41.583333333333336

In [18]:
weather_data_2010["Ozone"].fillna(value=41.6,inplace= True)

In [19]:
weather_data_2010["Ozone"].describe()

count    158.000000
mean      41.587342
std       28.399916
min        1.000000
25%       21.000000
50%       41.600000
75%       45.000000
max      168.000000
Name: Ozone, dtype: float64

In [20]:
weather_data_2010.head(30)

    Ozone  Solar.R  Wind Month  Day  Year  Temp Weather
0    41.0    190.0   7.4     5    1  2010    67       S
1    36.0    118.0   8.0     5    2  2010    72       C
2    12.0    149.0  12.6     5    3  2010    74      PS
3    18.0    313.0  11.5     5    4  2010    62       S
4    41.6      NaN  14.3     5    5  2010    56       S
5    28.0      NaN  14.9     5    6  2010    66       C
6    23.0    299.0   8.6     5    7  2010    65      PS
7    19.0     99.0  13.8     5    8  2010    59       C
8     8.0     19.0  20.1     5    9  2010    61      PS
9    41.6    194.0   8.6     5   10  2010    69       S
10    7.0      NaN   6.9     5   11  2010    74       C
11   16.0    256.0   9.7     5   12  2010    69      PS
12   11.0    290.0   9.2     5   13  2010    66       S
13   14.0    274.0  10.9     5   14  2010    68       S
14   18.0     65.0  13.2     5   15  2010    58       C
15   14.0    334.0  11.5     5   16  2010    64       S
16   34.0    307.0  12.0     5   17  2010    66       S
17    6.0     78.0  18.4     5   18  2010    57       C
18   30.0    322.0  11.5     5   19  2010    68      PS
19   11.0     44.0   9.7     5   20  2010    62       S
20    1.0      8.0   9.7     5   21  2010    59       S
21   11.0    320.0  16.6     5   22  2010    73       C
22    4.0     25.0   9.7     5   23  2010    61      PS
23   32.0     92.0  12.0   May   24  2010    61       C
24   41.6     66.0  16.6     5   25  2010    57      PS
25   41.6    266.0  14.9     5   26  2010    58       C
26   41.6      NaN   8.0     5   27  2010    57      PS
27   23.0     13.0  12.0     5   28  2010    67       S
28   45.0    252.0  14.9     5   29  2010    81       S
29  115.0    223.0   5.7     5   30  2010    79       C

In [21]:
weather_data_2010["Weather"].value_counts()

Weather
S     59
C     49
PS    47
Name: count, dtype: int64

In [22]:
weather_data_2010.dtypes

Ozone      float64
Solar.R    float64
Wind       float64
Month       object
Day          int64
Year         int64
Temp         int64
Weather     object
dtype: object

In [23]:
del weather_data_2010["Solar.R"]

In [24]:
weather_data_2010.dropna(inplace=True)

In [25]:
weather_data_2010.isna().sum()

Ozone      0
Wind       0
Month      0
Day        0
Year       0
Temp       0
Weather    0
dtype: int64

### Step 2: Data Type Convertion

In [26]:
weather_data_2010.dtypes

Ozone      float64
Wind       float64
Month       object
Day          int64
Year         int64
Temp         int64
Weather     object
dtype: object

In [27]:
weather_data_2010["Month"].unique()

array(['5', 'May', '6', '7', '8', '9'], dtype=object)

In [28]:
weather_data_2010[weather_data_2010["Month"]=="May"]

    Ozone  Wind Month  Day  Year  Temp Weather
23   32.0  12.0   May   24  2010    61       C

In [29]:
weather_data_2010["Month"].replace(to_replace='May',value=5,inplace= True)

In [30]:
weather_data_2010.dtypes

Ozone      float64
Wind       float64
Month       object
Day          int64
Year         int64
Temp         int64
Weather     object
dtype: object

In [31]:
weather_data_2010["Month"]=weather_data_2010["Month"].astype('int')

In [32]:
weather_data_2010.dtypes

Ozone      float64
Wind       float64
Month        int32
Day          int64
Year         int64
Temp         int64
Weather     object
dtype: object

### Step 3: Data Transformation

#### 2 Transformation Techniques: Discrete Vs Continous

**1. Discrete - Label Encoding/One Hot Encoding**

**2. Continous - MinMax Scaler/Standard Scaler/Robust Scaler**

### 1. Label Encoding

In [33]:
weather_data_2010_copy_1= weather_data_2010.copy()

In [34]:
weather_data_2010_copy_1

     Ozone  Wind  Month  Day  Year  Temp Weather
0     41.0   7.4      5    1  2010    67       S
1     36.0   8.0      5    2  2010    72       C
2     12.0  12.6      5    3  2010    74      PS
3     18.0  11.5      5    4  2010    62       S
4     41.6  14.3      5    5  2010    56       S
..     ...   ...    ...  ...   ...   ...     ...
153   41.0   7.4      5    1  2010    67       C
154   30.0   6.9      9   26  2010    70      PS
155   41.6  13.2      9   27  2010    77       S
156   14.0  14.3      9   28  2010    75       S
157   18.0   8.0      9   29  2010    76       C

[155 rows x 7 columns]

In [35]:
from sklearn.preprocessing import LabelEncoder

In [36]:
label_encoder=LabelEncoder()

In [37]:
weather_data_2010_copy_1["Weather"]=label_encoder.fit_transform(weather_data_2010_copy_1["Weather"])

In [38]:
weather_data_2010_copy_1

     Ozone  Wind  Month  Day  Year  Temp  Weather
0     41.0   7.4      5    1  2010    67        2
1     36.0   8.0      5    2  2010    72        0
2     12.0  12.6      5    3  2010    74        1
3     18.0  11.5      5    4  2010    62        2
4     41.6  14.3      5    5  2010    56        2
..     ...   ...    ...  ...   ...   ...      ...
153   41.0   7.4      5    1  2010    67        0
154   30.0   6.9      9   26  2010    70        1
155   41.6  13.2      9   27  2010    77        2
156   14.0  14.3      9   28  2010    75        2
157   18.0   8.0      9   29  2010    76        0

[155 rows x 7 columns]

In [39]:
weather_data_2010_copy_1.dtypes

Ozone      float64
Wind       float64
Month        int32
Day          int64
Year         int64
Temp         int64
Weather      int32
dtype: object

### 2. One Hot Encoder

### It can be built by any one of the 2 libraries:
-   sklearn - OneHotEncoder()
-  Pandas - pd.get_dummies()

In [40]:
weather_data_2010_copy_2=weather_data_2010.copy()

In [41]:
weather_data_2010_copy_2

     Ozone  Wind  Month  Day  Year  Temp Weather
0     41.0   7.4      5    1  2010    67       S
1     36.0   8.0      5    2  2010    72       C
2     12.0  12.6      5    3  2010    74      PS
3     18.0  11.5      5    4  2010    62       S
4     41.6  14.3      5    5  2010    56       S
..     ...   ...    ...  ...   ...   ...     ...
153   41.0   7.4      5    1  2010    67       C
154   30.0   6.9      9   26  2010    70      PS
155   41.6  13.2      9   27  2010    77       S
156   14.0  14.3      9   28  2010    75       S
157   18.0   8.0      9   29  2010    76       C

[155 rows x 7 columns]

### Pandas - pd.get_dummies()

In [42]:
weather_data_2010_copy_2=pd.get_dummies(data= weather_data_2010_copy_2, columns=['Weather'], dtype= ('int'))

In [52]:
weather_data_2010_copy_3=weather_data_2010_copy_2.copy()

In [53]:
weather_data_2010_copy_3

     Ozone  Wind  Month  Day  Year  Temp  Weather_C  Weather_PS  Weather_S
0     41.0   7.4      5    1  2010    67          0           0          1
1     36.0   8.0      5    2  2010    72          1           0          0
2     12.0  12.6      5    3  2010    74          0           1          0
3     18.0  11.5      5    4  2010    62          0           0          1
4     41.6  14.3      5    5  2010    56          0           0          1
..     ...   ...    ...  ...   ...   ...        ...         ...        ...
153   41.0   7.4      5    1  2010    67          1           0          0
154   30.0   6.9      9   26  2010    70          0           1          0
155   41.6  13.2      9   27  2010    77          0           0          1
156   14.0  14.3      9   28  2010    75          0           0          1
157   18.0   8.0      9   29  2010    76          1           0          0

[155 rows x 9 columns]

In [54]:
weather_data_2010_copy_3.dtypes

Ozone         float64
Wind          float64
Month           int32
Day             int64
Year            int64
Temp            int64
Weather_C       int32
Weather_PS      int32
Weather_S       int32
dtype: object

### Task- Use Sk-learn one hot encoding

### sklearn - OneHotEncoder()

In [98]:
from sklearn.preprocessing import OneHotEncoder

In [99]:
encoder=OneHotEncoder()

In [100]:
weather_data_2010_copy_3 = weather_data_2010.copy()

In [101]:
weather_data_2010_copy_3["Weather"]=label_encoder.fit_transform(weather_data_2010_copy_3[["Weather"]])

C:\Users\venka\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\preprocessing\_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [102]:
weather_data_2010_copy_3

     Ozone  Wind  Month  Day  Year  Temp  Weather
0     41.0   7.4      5    1  2010    67        2
1     36.0   8.0      5    2  2010    72        0
2     12.0  12.6      5    3  2010    74        1
3     18.0  11.5      5    4  2010    62        2
4     41.6  14.3      5    5  2010    56        2
..     ...   ...    ...  ...   ...   ...      ...
153   41.0   7.4      5    1  2010    67        0
154   30.0   6.9      9   26  2010    70        1
155   41.6  13.2      9   27  2010    77        2
156   14.0  14.3      9   28  2010    75        2
157   18.0   8.0      9   29  2010    76        0

[155 rows x 7 columns]

### Task on Exploring Git= Practise and push this file into the Github using Git.

In [107]:
weather_cleaned_2010=weather_data_2010_copy_3.copy()

In [108]:
weather_cleaned_2010

     Ozone  Wind  Month  Day  Year  Temp  Weather
0     41.0   7.4      5    1  2010    67        2
1     36.0   8.0      5    2  2010    72        0
2     12.0  12.6      5    3  2010    74        1
3     18.0  11.5      5    4  2010    62        2
4     41.6  14.3      5    5  2010    56        2
..     ...   ...    ...  ...   ...   ...      ...
153   41.0   7.4      5    1  2010    67        0
154   30.0   6.9      9   26  2010    70        1
155   41.6  13.2      9   27  2010    77        2
156   14.0  14.3      9   28  2010    75        2
157   18.0   8.0      9   29  2010    76        0

[155 rows x 7 columns]

### 5. Model Building

In [109]:
x=weather_cleaned_2010.drop(['Weather'],axis=1)

In [110]:
y=weather_cleaned_2010['Weather']

In [111]:
x

     Ozone  Wind  Month  Day  Year  Temp
0     41.0   7.4      5    1  2010    67
1     36.0   8.0      5    2  2010    72
2     12.0  12.6      5    3  2010    74
3     18.0  11.5      5    4  2010    62
4     41.6  14.3      5    5  2010    56
..     ...   ...    ...  ...   ...   ...
153   41.0   7.4      5    1  2010    67
154   30.0   6.9      9   26  2010    70
155   41.6  13.2      9   27  2010    77
156   14.0  14.3      9   28  2010    75
157   18.0   8.0      9   29  2010    76

[155 rows x 6 columns]

In [112]:
y

0      2
1      0
2      1
3      2
4      2
      ..
153    0
154    1
155    2
156    2
157    0
Name: Weather, Length: 155, dtype: int32

In [115]:
from sklearn.model_selection import train_test_split

In [116]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=24)

In [117]:
x_train

     Ozone  Wind  Month  Day  Year  Temp
77    35.0  10.3      7   17  2010    82
17     6.0  18.4      5   18  2010    57
79    79.0   5.1      7   19  2010    87
101   41.6   8.6      8   10  2010    92
92    39.0   6.9      8    1  2010    81
..     ...   ...    ...  ...   ...   ...
132   24.0   9.7      9   10  2010    73
155   41.6  13.2      9   27  2010    77
148   30.0   6.9      9   26  2010    70
88    82.0   7.4      7   28  2010    88
134   21.0  15.5      9   12  2010    76

[124 rows x 6 columns]

In [118]:
x_test

     Ozone  Wind  Month  Day  Year  Temp
48    20.0   9.2      6   18  2010    65
57    41.6  10.3      6   27  2010    73
19    11.0   9.7      5   20  2010    62
129   20.0  10.9      9    7  2010    80
114   41.6  12.6      8   23  2010    75
11    16.0   9.7      5   12  2010    69
26    41.6   8.0      5   27  2010    57
49    12.0  11.5      6   19  2010    73
30    37.0   7.4      5   31  2010    76
152   20.0  11.5      9   30  2010    68
31    41.6   8.6      6    1  2010    78
58    41.6  11.5      6   28  2010    80
137   13.0  11.5      9   15  2010    71
120  118.0   2.3      8   29  2010    94
109   23.0   7.4      8   18  2010    76
14    18.0  13.2      5   15  2010    58
78    61.0   6.3      7   18  2010    84
29   115.0   5.7      5   30  2010    79
59    41.6  14.9      6   29  2010    77
113    9.0  14.3      8   22  2010    72
94    16.0   7.4      8    3  2010    82
130   23.0  10.3      9    8  2010    78
149   41.6  13.2      9   27  2010    77
117   73.0   8.0      8   26  2010    86
53    41.6   4.6      6   23  2010    76
144   23.0   9.2      9   22  2010    71
1     36.0   8.0      5    2  2010    72
135   28.0   6.3      9   13  2010    77
81    16.0   6.9      7   21  2010    74
51    41.6   6.3      6   21  2010    77
146    7.0  10.3      9   24  2010    69

In [119]:
y_train

77     2
17     0
79     1
101    1
92     1
      ..
132    0
155    2
148    0
88     2
134    2
Name: Weather, Length: 124, dtype: int32

In [120]:
y_test

48     1
57     0
19     2
129    2
114    1
11     1
26     1
49     2
30     1
152    2
31     2
58     1
137    1
120    2
109    0
14     0
78     0
29     0
59     2
113    0
94     1
130    0
149    1
117    2
53     1
144    2
1      0
135    2
81     2
51     2
146    0
Name: Weather, dtype: int32

### 6. Model Training

In [126]:
from sklearn.linear_model import LogisticRegression

In [127]:
logistic_model=LogisticRegression()

In [128]:
logistic_model.fit(x_train,y_train)

C:\Users\venka\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [129]:
logistic_model.coef_

array([[ 0.0050594 , -0.02020715, -0.05961268, -0.00214204,  0.00046084,
        -0.0062861 ],
       [ 0.00610096, -0.01257556,  0.13460046, -0.00999572,  0.00053585,
        -0.02688465],
       [-0.01116035,  0.03278271, -0.07498777,  0.01213775, -0.00099669,
         0.03317075]])

In [130]:
logistic_model.intercept_

array([ 2.30644919e-07,  2.69198117e-07, -4.99843036e-07])

### 7. Model Training

### Training Data

In [132]:
y_trained_predict = logistic_model.predict(x_train)

In [133]:
y_trained_predict

array([2, 2, 0, 2, 1, 2, 1, 0, 2, 0, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2,
       2, 0, 1, 1, 1, 0, 0, 0, 2, 2, 2, 2, 1, 0, 2, 2, 1, 2, 2, 1, 2, 2,
       0, 0, 0, 2, 2, 2, 0, 1, 2, 0, 2, 2, 2, 2, 0, 2, 0, 2, 0, 0, 2, 2,
       2, 0, 2, 0, 2, 2, 2, 1, 0, 1, 2, 2, 1, 2, 0, 2, 2, 2, 2, 2, 2, 0,
       1, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 0, 0, 2, 2, 0, 1, 2, 1, 2, 1, 2,
       2, 2, 2, 2, 2, 2, 1, 1, 2, 1, 2, 1, 0, 2])

In [135]:
from sklearn.metrics import accuracy_score

In [136]:
accuracy_score(y_train,y_trained_predict)

0.46774193548387094

### Test Data

In [137]:
y_test_predict = logistic_model.predict(x_test)

In [138]:
y_test_predict

array([0, 2, 2, 2, 2, 2, 0, 2, 2, 1, 0, 2, 1, 0, 2, 0, 0, 0, 2, 2, 2, 1,
       2, 0, 0, 1, 0, 1, 2, 0, 2])

In [139]:
from sklearn.metrics import accuracy_score

In [140]:
accuracy_score(y_test,y_test_predict)

0.3225806451612903

### 7. Model Testing || 8. Model Evaluation

In [142]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix, roc_curve,roc_auc_score

### Training Data

In [143]:
y_train_predict = logistic_model.predict(x_train)

In [144]:
print(confusion_matrix(y_train,y_train_predict))
print("###############################################")
print("classification Report")
print(classification_report(y_train,y_train_predict))

[[11  6 23]
 [ 8 12 17]
 [ 9  3 35]]
###############################################
classification Report
              precision    recall  f1-score   support

           0       0.39      0.28      0.32        40
           1       0.57      0.32      0.41        37
           2       0.47      0.74      0.57        47

    accuracy                           0.47       124
   macro avg       0.48      0.45      0.44       124
weighted avg       0.47      0.47      0.45       124

### Testing Data

In [145]:
y_test_predict = logistic_model.predict(x_test)

In [146]:
print(confusion_matrix(y_test,y_test_predict))
print("###############################################")
print("classification Report")
print(classification_report(y_test,y_test_predict))

[[4 1 4]
 [3 1 6]
 [4 3 5]]
###############################################
classification Report
              precision    recall  f1-score   support

           0       0.36      0.44      0.40         9
           1       0.20      0.10      0.13        10
           2       0.33      0.42      0.37        12

    accuracy                           0.32        31
   macro avg       0.30      0.32      0.30        31
weighted avg       0.30      0.32      0.30        31

### GridSearchCV- CV= Cross Validation

In [152]:
from sklearn.model_selection import GridSearchCV

In [157]:
grid_search=GridSearchCV(estimator= dt_model, 
                        param_grid={'criterion':['entropy','gini'],
                                   'max_depth':[1,2,3,4,5]}
                        )

In [158]:
grid_search.fit(x,y)

GridSearchCV(estimator=DecisionTreeClassifier(),
             param_grid={'criterion': ['entropy', 'gini'],
                         'max_depth': [1, 2, 3, 4, 5]})

In [159]:
grid_search.best_params_

{'criterion': 'gini', 'max_depth': 5}

In [160]:
grid_search.best_score_

0.34838709677419355

### 9. Model Deployment

In [163]:
logistic_model

LogisticRegression()

In [164]:
from pickle import dump

In [165]:
dump(logistic_model,open('Weather_predict.pkl','wb'))

In [166]:
from pickle import load

In [167]:
load_file = load(open('Weather_predict.pkl','rb'))