In [1]:
import pandas as pd

In [2]:
wt_ht_data = pd.read_csv("weight-height.csv")

In [3]:
wt_ht_data

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[10000 rows x 3 columns]

In [4]:
wt_ht_data.shape

(10000, 3)

In [5]:
wt_ht_data.dtypes

Gender     object
Height    float64
Weight    float64
dtype: object

In [6]:
wt_ht_data.isnull().sum()

Gender    0
Height    0
Weight    0
dtype: int64

In [7]:
wt_ht_copy = wt_ht_data.copy()

In [8]:
#inches to cm calculation, 1 inch =  2.54
wt_ht_copy['Height_cm'] = wt_ht_copy['Height']*2.54

In [9]:
#pounds to kg calculation, 1 pound = 2.205kg
wt_ht_copy['Weight_kg'] = wt_ht_copy['Weight']/2.205

In [10]:
wt_ht_copy.drop(labels = ['Weight','Height'],axis=1,inplace=True)

In [11]:
wt_ht_copy['Gender'] = wt_ht_copy['Gender'].apply(lambda x: 0 if x == 'female' else 1)

In [12]:
wt_ht_copy

      Gender   Height_cm   Weight_kg
0          1  187.571423  109.702296
1          1  174.706036   73.610192
2          1  188.239668   96.481114
3          1  182.196685   99.792504
4          1  177.499761   93.582676
...      ...         ...         ...
9995       1  168.078536   62.030591
9996       1  170.350573   77.491114
9997       1  162.224700   58.265451
9998       1  175.346978   74.309506
9999       1  157.338385   51.541543

[10000 rows x 3 columns]

In [13]:
x = wt_ht_copy.drop("Gender",axis=1)
y = wt_ht_copy["Gender"]

In [14]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.20,random_state=31)

In [15]:
x_train

       Height_cm  Weight_kg
7024  158.377485  56.266389
2498  174.550144  88.739307
4029  182.317971  88.446380
6800  161.198837  60.791715
1183  167.254075  85.055282
...          ...        ...
5372  172.221625  73.700449
28    171.249955  79.462096
826   168.107636  78.293701
3735  175.028732  87.268964
4818  156.888838  66.393185

[8000 rows x 2 columns]

In [16]:
x_test

       Height_cm  Weight_kg
757   169.219072  66.317825
1003  172.225492  81.634716
8089  162.176105  54.918803
2967  172.869446  85.160578
5011  156.969151  48.178543
...          ...        ...
1437  170.301513  77.707821
1670  174.009850  91.100807
1918  176.085139  87.654996
1886  178.269588  86.129647
1932  177.001127  82.510976

[2000 rows x 2 columns]

In [17]:
y_train

7024    1
2498    1
4029    1
6800    1
1183    1
       ..
5372    1
28      1
826     1
3735    1
4818    1
Name: Gender, Length: 8000, dtype: int64

In [18]:
y_test

757     1
1003    1
8089    1
2967    1
5011    1
       ..
1437    1
1670    1
1918    1
1886    1
1932    1
Name: Gender, Length: 2000, dtype: int64

In [22]:
from sklearn.linear_model import LinearRegression

In [23]:
linear_model=LinearRegression()

In [24]:
linear_model.fit(x_train,y_train)

LinearRegression()

In [26]:
y_pred = linear_model.predict(x_test)

In [30]:
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy score", accuracy)

Accuracy score 1.0