## 1. Import necessary library

In [1]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel

## 2. Read the data

In [2]:
Movie_df=pd.read_csv("Movies_dataset.csv")
Movie_df

,Movie Title,Ratinng,genre,act,Plot
0,3 Idiots,8.4,"Comedy, Drama","Aamir Khan, Madhavan, Mona Singh, Sharman Josh...","papadum, hairy chest, against the system, comi..."
1,Taare Zameen Par,8.3,"Drama, Family","Darsheel Safary, Aamir Khan, Tisca Chopra, Vip...","teacher student relationship, dyslexia, agains..."
2,PK,8.1,"Comedy, Drama, Sci-Fi","Aamir Khan, Anushka Sharma, Sanjay Dutt, Boman...","guru, religion, tv reporter, alien on earth, p..."
3,Dangal,8.3,"Action, Biography, Drama","Aamir Khan, Sakshi Tanwar, Fatima Sana Shaikh,...","small town, father daughter relationship, male..."
4,Rang De Basanti,8.1,"Comedy, Crime, Drama","Aamir Khan, Soha Ali Khan, Siddharth, Sharman ...","delhi india, murder, friend, india, awakening,..."
...,...,...,...,...,...
806,Parde Ke Peechey,5.9,Action,"Vinod Mehra, Yogeeta Bali, Pran Sikand, Bindu ...",crook
807,Dhamkee,4.0,"Action, Comedy","Ravi Teja, Anushka Shetty, Krishna, Pradeep Si...",sorry
808,Chhoo Mantar,6.0,Comedy,"Shyama, Johnny Walker, Anita Guha, Gajanan Jag...","rescue, beating, river, village, wedding, flir..."
809,Ladki Sahyadri Ki,5.0,"Musical, Drama","Shalini Abhyankar, Keshavrao Date, Vatsala Des...",sorry
810,Madadgaar,7.2,"Drama, Romance","Ravindra Kapoor, Indira, Jeevan Dhar, Uma Dutt...",sorry

## 3. Data Understanding

In [3]:
Movie_df.isna().sum()

Movie Title    0
Ratinng        0
genre          0
act            0
Plot           0
dtype: int64

In [4]:
Movie_df.dtypes

Movie Title     object
Ratinng        float64
genre           object
act             object
Plot            object
dtype: object

In [5]:
tfid=TfidfVectorizer()

In [6]:
vectors=tfid.fit_transform(Movie_df['genre'])

In [7]:
vectors[0].toarray()

array([[0.        , 0.        , 0.        , 0.        , 0.83766858,
        0.        , 0.        , 0.54617887, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        ]])

In [8]:
sim_dist=linear_kernel(vectors[0],vectors)
sim_dist

array([[1.        , 0.17682135, 0.28477478, 0.14539681, 0.68713209,
        0.27882285, 0.44125755, 0.10959635, 1.        , 0.34989062,
        0.73593791, 0.56163239, 0.27882285, 0.56163239, 0.16734622,
        0.10505635, 0.        , 0.28702413, 0.13272403, 0.54617887,
        0.        , 0.20462232, 0.17394914, 0.46705206, 0.13318935,
        0.34989062, 0.56163239, 0.27882285, 0.73593791, 0.48782829,
        0.16384446, 0.44035717, 0.18746835, 0.20462232, 0.56396402,
        0.        , 0.76492377, 0.13272403, 0.16384446, 0.27882285,
        0.53090047, 0.        , 0.        , 0.76492377, 0.10505635,
        0.13272403, 0.13272403, 0.27882285, 0.        , 0.15563719,
        0.44125755, 1.        , 0.73593791, 0.16384446, 0.44125755,
        0.27882285, 0.11589395, 0.13095659, 0.1575185 , 0.25066587,
        0.18746835, 0.20462232, 0.12955874, 1.        , 0.21910022,
        0.17394914, 0.53090047, 0.21910022, 0.18746835, 0.73593791,
        0.20462232, 0.54617887, 0.73593791, 0.        , 0.1413302 ,
        0.28394035, 0.13307492, 0.11589395, 0.21910022, 1.        ,
        0.54617887, 0.1413302 , 0.15563719, 0.56396402, 0.27882285,
        0.        , 0.20462232, 0.11361685, 0.44035717, 0.16734622,
        0.        , 0.27882285, 0.56163239, 0.29721422, 0.44125755,
        0.73593791, 0.73593791, 0.20462232, 0.21910022, 0.20462232,
        1.        , 0.44125755, 0.20462232, 0.56396402, 0.13530464,
        0.20462232, 0.        , 0.20462232, 0.20462232, 0.44125755,
        0.15944483, 0.27882285, 1.        , 0.27882285, 0.76492377,
        0.15944483, 0.14539681, 0.15563719, 0.44035717, 0.44125755,
        0.20462232, 0.73593791, 0.73593791, 0.16384446, 0.17394914,
        0.76492377, 0.56396402, 0.        , 0.56396402, 0.73593791,
        0.76492377, 0.73593791, 0.73593791, 0.        , 1.        ,
        0.68713209, 0.1413353 , 0.4741783 , 0.83766858, 0.54617887,
        0.21910022, 0.34989062, 0.20462232, 0.22093917, 0.20462232,
        0.17394914, 0.46705206, 0.76492377, 1.        , 0.54617887,
        0.18258422, 0.15563719, 0.34989062, 0.12765826, 1.        ,
        0.14767656, 0.73593791, 0.        , 0.27882285, 0.        ,
        0.13881139, 0.16384446, 0.73593791, 0.56163239, 0.15682237,
        0.16384446, 0.73593791, 0.20462232, 1.        , 0.16173035,
        0.73593791, 0.27882285, 0.21910022, 0.5540615 , 0.14539681,
        0.15682237, 0.        , 0.18258422, 0.54617887, 0.73593791,
        0.        , 1.        , 0.53090047, 0.27882285, 0.13530464,
        0.16384446, 0.46705206, 0.34989062, 1.        , 0.48782829,
        0.17394914, 0.20462232, 0.20462232, 0.59076637, 0.        ,
        0.59076637, 0.14539681, 0.73593791, 0.31834875, 0.34989062,
        0.07535035, 0.44125755, 0.73593791, 0.46705206, 0.16384446,
        0.46705206, 0.73593791, 0.56396402, 0.27882285, 0.20462232,
        0.16384446, 0.73593791, 0.20462232, 0.54617887, 0.73593791,
        0.54617887, 0.76492377, 0.34750884, 0.        , 0.15524008,
        0.56163239, 0.76492377, 0.53090047, 0.73593791, 0.21910022,
        0.73593791, 0.73593791, 0.15563719, 0.        , 0.18746835,
        0.34989062, 0.20462232, 0.52623841, 0.14308242, 1.        ,
        0.54617887, 0.68713209, 0.73593791, 0.73593791, 0.56163239,
        0.16384446, 1.        , 0.76492377, 1.        , 0.27882285,
        0.20462232, 0.15944483, 0.        , 0.14767656, 0.12639906,
        0.73593791, 0.68713209, 0.54617887, 0.83766858, 0.56396402,
        0.56396402, 0.19831773, 0.44125755, 0.20462232, 0.73593791,
        0.20462232, 1.        , 0.15944483, 0.56396402, 0.34989062,
        0.18746835, 0.27882285, 0.16384446, 0.56396402, 0.20462232,
        0.53090047, 0.76492377, 0.16384446, 0.56396402, 0.53090047,
        0.73593791, 0.76492377, 0.54617887, 0.76492377, 0.68713209,
        0.17682135, 0.15944483, 0.4741783 , 0.27882285, 0.54617887,
        0.59076637, 0.        , 0.18746835, 0.54617887, 1.        ,
        0.73593791, 0.34750884, 0.        , 0.54617887, 0.18746835,
        0.83766858, 1.        , 0.54617887, 0.59076637, 0.44125755,
        0.        , 0.83766858, 0.15682237, 0.73593791, 0.33137231,
        0.17394914, 0.53090047, 0.73593791, 0.15944483, 0.68713209,
        0.73593791, 0.20462232, 0.27882285, 0.56163239, 0.18746835,
        0.73593791, 0.        , 0.56396402, 0.76492377, 0.27882285,
        0.        , 0.52623841, 0.20462232, 0.18746835, 0.20462232,
        0.20462232, 0.73593791, 0.54617887, 0.4741783 , 0.5540615 ,
        0.73593791, 0.22093917, 0.25066587, 0.56163239, 0.17394914,
        0.17394914, 0.53090047, 0.4741783 , 0.34989062, 0.83766858,
        0.27882285, 0.        , 0.21910022, 1.        , 0.56396402,
        0.68713209, 0.        , 0.20462232, 0.        , 0.16509551,
        0.16384446, 0.13272403, 0.27882285, 0.52623841, 0.27882285,
        0.20462232, 0.29721422, 0.20462232, 1.        , 0.21910022,
        0.        , 0.27882285, 0.        , 0.73593791, 0.73593791,
        0.25066587, 0.11272578, 0.17394914, 0.1413353 , 0.83766858,
        0.56396402, 0.27882285, 0.16734622, 0.56396402, 0.34989062,
        0.        , 0.47026431, 0.73593791, 0.37080013, 0.13126944,
        0.73593791, 0.27882285, 0.30582728, 0.83766858, 0.20462232,
        0.15944483, 0.12490815, 0.20462232, 0.27882285, 0.        ,
        0.56396402, 0.        , 0.73593791, 0.5201752 , 0.14767656,
        0.        , 0.14767656, 0.44125755, 0.53090047, 0.73593791,
        0.76492377, 0.25066587, 0.56163239, 0.56163239, 0.4741783 ,
        0.20462232, 0.73593791, 0.76492377, 0.        , 0.47026431,
        0.73593791, 0.16173035, 0.27882285, 0.62935168, 0.22093917,
        0.15944483, 0.68713209, 0.        , 0.15563719, 0.83766858,
        0.83766858, 0.54617887, 0.12315388, 0.20462232, 0.09266645,
        0.73593791, 0.15563719, 0.36389079, 0.20462232, 0.20462232,
        0.15682237, 0.27882285, 0.20462232, 0.20462232, 0.27882285,
        0.25066587, 0.27882285, 0.22093917, 0.        , 0.56396402,
        0.10959635, 0.1575185 , 0.54617887, 0.        , 0.29721422,
        0.83766858, 0.        , 0.15944483, 0.54617887, 0.15682237,
        0.44125755, 0.16384446, 0.49100441, 0.        , 0.83766858,
        0.16384446, 0.        , 0.22093917, 0.16384446, 1.        ,
        0.13318935, 0.        , 0.54617887, 0.17394914, 0.        ,
        0.11252656, 0.        , 0.27882285, 0.20462232, 0.22093917,
        0.        , 0.83766858, 1.        , 0.44125755, 0.20462232,
        0.27882285, 0.36389079, 0.19831773, 0.18746835, 0.21910022,
        0.        , 0.20462232, 0.21910022, 0.46705206, 0.17394914,
        0.        , 0.22093917, 1.        , 0.1439827 , 0.34989062,
        0.54617887, 0.12639906, 0.20462232, 0.18746835, 0.        ,
        0.27882285, 0.16173035, 0.22093917, 1.        , 0.27882285,
        0.        , 0.13881139, 0.83766858, 0.68713209, 0.20462232,
        0.22093917, 0.        , 0.27882285, 0.        , 0.29721422,
        0.27882285, 0.56396402, 0.20462232, 1.        , 0.15563719,
        0.54617887, 0.        , 0.19831773, 0.29721422, 0.20462232,
        0.76492377, 0.        , 0.        , 0.54617887, 0.56396402,
        0.15682237, 0.        , 0.        , 0.20462232, 1.        ,
        0.        , 0.13272403, 0.54617887, 0.21910022, 0.        ,
        0.54617887, 0.27882285, 0.73593791, 0.59076637, 0.44125755,
        0.        , 0.20462232, 1.        , 0.53090047, 0.22093917,
        0.        , 0.20462232, 0.27882285, 0.27882285, 0.21910022,
        0.        , 0.25066587, 0.        , 0.16384446, 0.        ,
        0.56163239, 0.14634177, 0.21910022, 0.21910022, 0.54617887,
        0.54617887, 0.5201752 , 0.        , 0.34989062, 1.        ,
        0.4741783 , 0.25066587, 0.11144339, 0.14767656, 0.14268615,
        0.54617887, 0.21910022, 0.        , 0.83766858, 0.46705206,
        0.25066587, 0.12490815, 0.76492377, 0.73593791, 0.54617887,
        0.76492377, 0.83766858, 0.53090047, 0.15944483, 0.        ,
        0.21910022, 0.27882285, 0.29721422, 0.76492377, 0.56396402,
        0.16734622, 0.76492377, 0.14767656, 0.15563719, 0.29721422,
        0.18258422, 0.53090047, 0.        , 0.73593791, 0.14767656,
        0.13204623, 0.15524008, 0.21910022, 0.20462232, 0.        ,
        0.12955874, 0.29721422, 0.        , 0.        , 1.        ,
        0.27882285, 0.17682135, 0.27882285, 0.44125755, 0.17682135,
        0.27882285, 0.21910022, 0.29721422, 0.13379828, 0.29721422,
        0.        , 0.1413302 , 0.        , 0.44125755, 0.18258422,
        0.1189092 , 0.        , 0.        , 0.        , 0.20462232,
        0.29721422, 0.54617887, 0.        , 0.44125755, 0.54617887,
        0.54617887, 0.68713209, 0.83766858, 0.20462232, 0.17394914,
        0.14767656, 0.        , 0.        , 0.21910022, 0.        ,
        0.68713209, 0.13722066, 0.27882285, 0.20462232, 0.54617887,
        0.        , 0.21910022, 0.17682135, 0.27882285, 0.        ,
        1.        , 0.20462232, 0.54617887, 0.        , 0.54617887,
        0.18746835, 0.73593791, 0.        , 0.44125755, 0.16384446,
        0.        , 0.18659742, 0.20462232, 0.        , 0.16734622,
        0.        , 0.59076637, 0.29721422, 0.44125755, 0.        ,
        0.        , 0.        , 0.17682135, 0.        , 0.29721422,
        0.54617887, 0.17682135, 0.20462232, 0.29721422, 0.        ,
        0.4741783 , 0.15524008, 0.20462232, 0.18986566, 0.34989062,
        0.        , 0.27882285, 1.        , 0.        , 0.        ,
        0.16384446, 0.        , 0.17682135, 0.1413353 , 0.        ,
        0.27882285, 0.        , 0.20891294, 0.15524008, 0.        ,
        0.46705206, 0.54617887, 0.53090047, 0.        , 0.21910022,
        0.46705206, 0.14767656, 0.        , 0.83766858, 0.54617887,
        0.20462232, 0.29721422, 0.29721422, 0.54617887, 0.13272403,
        0.73593791, 0.15524008, 0.20462232, 0.        , 0.54617887,
        0.31834875, 0.        , 0.54617887, 0.27882285, 0.15413328,
        0.15563719, 0.        , 0.73593791, 0.        , 0.12769714,
        0.17682135, 0.        , 0.        , 0.35763234, 0.        ,
        0.29721422, 0.        , 1.        , 0.17682135, 0.        ,
        0.        , 0.14767656, 0.54617887, 0.        , 0.        ,
        0.54617887, 0.        , 0.16384446, 0.31834875, 0.18986566,
        1.        , 0.29721422, 0.25066587, 0.59076637, 0.20462232,
        0.        , 0.29721422, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.15682237, 0.29721422,
        0.83766858, 0.25066587, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.29721422, 0.        , 0.29721422,
        0.27882285, 0.53090047, 0.29721422, 0.54617887, 0.15563719,
        0.        , 0.27882285, 0.08005144, 0.        , 0.56396402,
        0.        , 0.53090047, 0.54617887, 0.15682237, 0.        ,
        0.54617887, 0.        , 0.52623841, 0.        , 0.29721422,
        0.83766858, 0.54617887, 0.        , 0.20462232, 0.44125755,
        0.73593791, 0.        , 0.59076637, 0.83766858, 0.18986566,
        0.27882285]])

In [9]:
sim_scores_df=pd.DataFrame(sim_dist).T
sim_scores_df.cloumns=['Scores']

C:\Users\venka\AppData\Local\Temp\ipykernel_10112\3005174419.py:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  sim_scores_df.cloumns=['Scores']

In [10]:
sim_scores_df

            0
0    1.000000
1    0.176821
2    0.284775
3    0.145397
4    0.687132
..        ...
806  0.000000
807  0.590766
808  0.837669
809  0.189866
810  0.278823

[811 rows x 1 columns]

In [11]:
index=pd.Series(data=Movie_df.index,
               index=Movie_df["Movie Title"])

In [12]:
def retrival_fun (name,n):
    sim_dist=linear_kernel(vectors[index[name]],vectors)
    sim_scores_df=pd.DataFrame(sim_dist).T
    sim_scores_df.columns=['Scores']
    sim_scores_df=sim_scores_df.sort_values("Scores",ascending=False)

    list=[]

    for i in range (0,n+1):
        result={'Title': Movie_df["Movie Title"][sim_scores_df.index[i]],
                'Rating': Movie_df["Ratinng"] [sim_scores_df.index[i]],
                'Cast' : Movie_df["act"] [sim_scores_df.index[i]],
                'Genre' : Movie_df["genre"] [sim_scores_df.index[i]]
                
               
        }
        list.append(result)

    return list

In [13]:
pd.DataFrame(retrival_fun('Dangal',10))

,Title,Rating,Cast,Genre
0,Dangal,8.3,"Aamir Khan, Sakshi Tanwar, Fatima Sana Shaikh,...","Action, Biography, Drama"
1,Mary Kom,6.8,"Priyanka Chopra Jonas, Sunil Thapa, Robin Das,...","Action, Biography, Drama"
2,The Legend of Bhagat Singh,8.1,"Ajay Devgn, Sushant Singh, D. Santosh, Akhilen...","Action, Biography, Drama"
3,Manikarnika: The Queen of Jhansi,6.4,"Kangana Ranaut, Danny Denzongpa, Suresh Oberoi...","Action, Biography, Drama"
4,Saand Ki Aankh,7.7,"Taapsee Pannu, Bhumi Pednekar, Prakash Jha, Vi...","Biography, Drama"
5,Mastram,4.8,"Rahul Bagga, Tara-Alisha Berry, Aakash Dahiya,...","Biography, Drama"
6,Shahid,8.2,"Rajkummar Rao, Prabhleen Sandhu, Mohd. Zeeshan...","Biography, Drama"
7,The Accidental Prime Minister,6.0,"Anupam Kher, Akshaye Khanna, Suzanne Bernert, ...","Biography, Drama"
8,Super 30,7.9,"Hrithik Roshan, Mrunal Thakur, Nandish Singh S...","Biography, Drama"
9,Aligarh,7.8,"Manoj Bajpayee, Rajkummar Rao, Ashish Vidyarth...","Biography, Drama"
10,PM Narendra Modi,2.9,"Vivek Oberoi, Manoj Joshi, Darshan Kumaar, Anj...","Biography, Drama"